<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Главная страница</a>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="">{{ current_user.name }}</a>

        {% if current_user.is_admin %}
        <a class="btn btn-primary " href="/register">Зарегистрировать пользователя</a>
        <a class="btn btn-danger" href="/users">Пользователи</a>
        <a class="btn btn-info" href="/stats">Статистика</a>

        {% endif %}
        <a class="btn btn-info" href="/history">История</a>
        <a class="btn btn-danger" href="/logout">Выйти</a>
        {% else %}
        <p>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>

<main role="main" class="container">
    {% block content %}{% endblock %}
    <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/vyatskaya_gumanitarnaya_gimnaziya_s_uglublennym_izucheniyem_angliyskogo_yazyka/242665774091/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Вятская гуманитарная гимназия с углубленным изучением английского языка</a><a href="https://yandex.ru/maps/46/kirov/category/gymnasium/184106234/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гимназия в Кирове</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=1&ll=49.677390%2C58.600535&mode=search&oid=242665774091&ol=biz&z=17.34" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    <h6><b>Контакты:</b></h6>
    <div>
        <b>Телефон</b> - 89229644646</br>
        <b><a href="https://t.me/mc_Danik">Telegram</a></b>
    </div>
</main>
</body>
</html>