{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Отправить информацию</h1>
<a class="btn btn-primary" href="/post1a">1А</a></br>
<a class="btn btn-primary" href="/post1b">1Б</a></br>
<a class="btn btn-primary" href="/post2a">2А</a></br>
<a class="btn btn-primary" href="/post2b">2Б</a></br>
<a class="btn btn-primary" href="/post3a">3А</a></br>
<a class="btn btn-primary" href="/post3b">3Б</a></br>
<a class="btn btn-primary" href="/post4a">4А</a></br>
<a class="btn btn-primary" href="/post4b">4Б</a></br>
<a class="btn btn-primary" href="/post5a">5А</a></br>
<a class="btn btn-primary" href="/post5b">5Б</a></br>
<a class="btn btn-primary" href="/post5c">5В</a></br>
<a class="btn btn-primary" href="/post6a">6А</a></br>
<a class="btn btn-primary" href="/post6b">6Б</a></br>
<a class="btn btn-primary" href="/post6c">6В</a></br>
<a class="btn btn-primary" href="/post7a">7А</a></br>
<a class="btn btn-primary" href="/post7b">7Б</a></br>
<a class="btn btn-primary" href="/post7c">7В</a></br>
<a class="btn btn-primary" href="/post8a">8А</a></br>
<a class="btn btn-primary" href="/post8b">8Б</a></br>
<a class="btn btn-primary" href="/post8c">8В</a></br>
<a class="btn btn-primary" href="/post9a">9А</a></br>
<a class="btn btn-primary" href="/post9b">9Б</a></br>
<a class="btn btn-primary" href="/post9c">9В</a></br>
<a class="btn btn-primary" href="/post10a">10А</a></br>
<a class="btn btn-primary" href="/post10b">10Б</a></br>
<a class="btn btn-primary" href="/post10c">10В</a></br>
<a class="btn btn-primary" href="/post11a">11А</a></br>
<a class="btn btn-primary" href="/post11b">11Б</a></br>
<a class="btn btn-primary" href="/post11c">11В</a></br>
{% endif %}
{% endblock %}