{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Статистика по классам</h1>
<a class="btn btn-primary" href="/stats1a">1А</a></br>
<a class="btn btn-primary" href="/post1a">2А</a></br>
<a class="btn btn-primary" href="/post1a">2Б</a></br>
<a class="btn btn-primary" href="/post1a">3А</a></br>
<a class="btn btn-primary" href="/post1a">3Б</a></br>
<a class="btn btn-primary" href="/post1a">3В</a></br>
<a class="btn btn-primary" href="/post1a">4А</a></br>
<a class="btn btn-primary" href="/post1a">4Б</a></br>
<a class="btn btn-primary" href="/post1a">4В</a></br>
<a class="btn btn-primary" href="/post1a">5А</a></br>
<a class="btn btn-primary" href="/post1a">5Б</a></br>
<a class="btn btn-primary" href="/post1a">5В</a></br>
<a class="btn btn-primary" href="/post1a">6А</a></br>
<a class="btn btn-primary" href="/post1a">6Б</a></br>
<a class="btn btn-primary" href="/post1a">6В</a></br>
<a class="btn btn-primary" href="/post1a">7А</a></br>
<a class="btn btn-primary" href="/post1a">7Б</a></br>
<a class="btn btn-primary" href="/post1a">7В</a></br>
<a class="btn btn-primary" href="/post1a">8А</a></br>
<a class="btn btn-primary" href="/post1a">8Б</a></br>
<a class="btn btn-primary" href="/post1a">8В</a></br>
<a class="btn btn-primary" href="/post1a">9А</a></br>
<a class="btn btn-primary" href="/post1a">9Б</a></br>
<a class="btn btn-primary" href="/post1a">9В</a></br>
<a class="btn btn-primary" href="/post1a">10А</a></br>
<a class="btn btn-primary" href="/post1a">10Б</a></br>
<a class="btn btn-primary" href="/post1a">10В</a></br>
<a class="btn btn-primary" href="/post1a">11А</a></br>
<a class="btn btn-primary" href="/post1a">11Б</a></br>
<a class="btn btn-primary" href="/post1a">11В</a></br>
{% endif %}
{% endblock %}